@import 'normalize.css';

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

button, input, optgroup, select, textarea {
  outline: 0;
}

a, button {
  cursor: pointer;
}

a {
  color: #cb3837;
  text-decoration: none;
}
