@import '../../container.css';
@import '../../media.css';

.content {
  display: flex;
  flex-direction: column;
}

.title {
  max-width: 450px;
}

.title__slogan {
  font-size: 34px;
  font-weight: 400;
  color: #484848;

  @media screen and (--xxs-viewport) and (--portrait) {
    font-size: 24px;
  }
}

.title__domain {
  font-weight: 800;
  color: #cb3837;
}


